<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='recipes.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Recipes</th>
              <th>Description</th>
              <th>Rating</th>
              <th>Done</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let recipes of filteredRecipes'>
              <td>
                <img *ngIf='showImage'
                     [src]='recipes.imageUrl'
                     [title]='recipes.name'
                     [style.width.px]='imageWidth'
                     [style.margin.px]='imageMargin'>
              </td>
              <td>
                <a [routerLink]="['/recipes', recipes.recipeId]">
                  {{ recipes.name }}
                </a>
              </td>
              <td>{{ recipes.description}}</td>
              <td>{{ recipes.rating }}</td>
              <td>{{ recipes.done }}</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
